<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Temperature by ZIP code</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/puremin.css">
<link rel="stylesheet" href="/main.css">
</head>
<body>